body {
  font-family: 'Inter', 'Poppins', 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #23272c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.fw-black {
  font-weight: 900 !important;
}
